.breadcrumbs{
  padding: 10px 0;
}

// Shop一覧
.shop-index{
  @include view-center;
  .title{
    margin-bottom: 30px;
    &-name{
      font-size: 25px;
    }
    &-count{
      font-size: 20px;
    }
  }
  .shop{
    &-list{
      a:hover{
        color: $color_action;
        text-decoration: none;
      }
      &:hover div .shop-box {
        border: $border_style_hover;
      }
      .shop-top{
        @include up-down-center;
        justify-content: flex-start;
        height: 50px;
        padding-left: 16px;
        border-top: solid 2px gray;
        border-bottom: $border_style_default;
        &-name{
          @include up-down-center;
          .shop-name{
            font-weight: bold;
          }
        }
        &-info{
          @include up-down-center;
          justify-content: flex-start;
          margin-left: 12px;
          color: $color_default;
          font-size: $fSize_content;
        }
      }
      .shop-info{
        display: flex;
        padding: 16px;
        color: $color_default;
        .shop-box{
          width: 146px;
          height: 146px;
          padding: 4px;
          border: $border_style_default;
          .shop-image{
            width: 136px;
            height: 136px;
            object-fit: cover;
            margin: 0 auto;
            &:hover {
              opacity: $hover_opacity;
            }
          }
        }
        .shop-bottom{
          display: flex;
          flex-direction: column;
          padding: 8px 16px;
          font-size: $fSize_content;
          &-title{
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
            height: 32px;
            overflow: hidden;
          }
          &-comment{
            @include up-down-center;
            padding: 8px 0;
            &-point{
              padding: 0 8px;
              color: $color_rate;
              font-size: $fSize_h3;
              font-weight: bold;
            }
            &-count{
              margin-left: 8px;
              color: $color_no_action;
              text-decoration: underline;
            }
          }
          &-characteristic{
            &-name{
              float: left;
              padding: 6px 8px;
              margin: 4px 8px 4px 0;
              border: $border_style_inner;
              border-radius: 4px;
              // box-shadow: $shadow_content;
              color: $link_color_content;
              font-size: $fSize_content;
              white-space: nowrap;
            }
          }
          &-review{
            display: flex;
            padding: 12px;
            background-color: floralwhite;
            &-title{
              margin-right: 8px;
              border-bottom: dotted 1px;
              font-weight: bold;
            }
            &-user{
              color: $color_no_action;
              font-size: 9px;
            }
          }

        }
      }
    }
  }
}
// Shop検索
.shop-search{
  @include view-center;
  .title{
    margin-bottom: 30px;
    &-name{
      font-size: 25px;
    }
    &-count{
      font-size: 20px;
    }
  }
  .shop{
    &-list{
      a:hover{
        color: $color_action;
        text-decoration: none;
      }
      &:hover div .shop-box {
        border: $border_style_hover;
      }
      .shop-top{
        @include up-down-center;
        justify-content: flex-start;
        height: 50px;
        padding-left: 16px;
        border-top: solid 2px gray;
        border-bottom: $border_style_default;
        &-name{
          @include up-down-center;
          .shop-name{
            font-weight: bold;
          }
        }
        &-info{
          @include up-down-center;
          justify-content: flex-start;
          margin-left: 12px;
          color: $color_default;
          font-size: $fSize_content;
        }
      }
      .shop-info{
        display: flex;
        padding: 16px;
        color: $color_default;
        .shop-box{
          width: 146px;
          height: 146px;
          padding: 4px;
          border: $border_style_default;
          .shop-image{
            width: 136px;
            height: 136px;
            object-fit: cover;
            margin: 0 auto;
            &:hover {
              opacity: $hover_opacity;
            }
          }
        }
        .shop-bottom{
          display: flex;
          flex-direction: column;
          padding: 8px 16px;
          font-size: $fSize_content;
          &-title{
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
            height: 32px;
            overflow: hidden;
          }
          &-comment{
            @include up-down-center;
            padding: 8px 0;
            &-point{
              padding: 0 8px;
              color: $color_rate;
              font-size: $fSize_h3;
              font-weight: bold;
            }
            &-count{
              margin-left: 8px;
              color: $color_no_action;
              text-decoration: underline;
            }
          }
          &-characteristic{
            &-name{
              float: left;
              padding: 6px 8px;
              margin: 4px 8px 4px 0;
              border: $border_style_inner;
              border-radius: 4px;
              // box-shadow: $shadow_content;
              color: $link_color_content;
              font-size: $fSize_content;
              white-space: nowrap;
            }
          }
          &-review{
            display: flex;
            padding: 12px;
            background-color: floralwhite;
            &-title{
              margin-right: 8px;
              border-bottom: dotted 1px;
              font-weight: bold;
            }
            &-user{
              color: $color_no_action;
              font-size: 9px;
            }
          }

        }
      }
    }
  }
}

// Shop詳細
.shop-show{
  @include view-center;
  .shop{
    // _shop_info css
    &-info{
      .shop{
        @include up-down-center;
        justify-content: space-between;
        padding: 8px 0;
        border-top: $border_style_inner;
        .info{
          width: 100%;
          .shop-controller{
            display: flex;
            align-items: center;
            .shop-name{
              font-size: $fSize_h2;
              font-weight: bold;
            }
            .master{
              margin-left: 12px;
            }
          }
          .shop-comment{
            @include up-down-center;
            padding: 5px 0;
            border-bottom: dotted 1px lightgray;
            color: $color_no_action;
            font-size: $fSize_content;
            &-point{
              padding: 0 8px;
              color: $color_rate;
              font-size: $fSize_h2;
              font-weight: bold;
            }
            &-count{
              padding: 0 8px;
            }
          }
          .shop-details{
            padding: 8px 0;
            font-size: $fSize_content;
            // color: $color_no_action;
            margin-right: 16px;
          }
        }
        .action{
          padding: 12px 16px 8px 16px;
          background-color: ivory;
          @include up-down-center;
          &-btn{
            width: 96px;
            height: 40px;
            margin: 4px;
            border: $border_style_hover;
            border-radius: 4px;
            background-color: white;
            color: $color_action;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            @include content-hover;
            a {
              text-decoration: none;
              color: $color_action;
            }
            .action-link {
              @include up-down-center;
              width: 96px;
              height: 40px;
              padding: 4px;
              .action-name {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
              }
              .link-clip-comment{
                font-size: $fSize_content;
              }
            }
    
          }
          &-no-btn{
            width: 96px;
            height: 40px;
            margin: 4px;
            border: solid 1px gray;
            border-radius: 4px;
            background-color: white;
            color: $color_action;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            @include content-hover;
            a {
              text-decoration: none;
              color: gray;
            }
            .action-link {
              @include up-down-center;
              width: 96px;
              height: 40px;
              padding: 4px;
              .action-name {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
              }
              .link-clip-comment{
                font-size: $fSize_content;
              }
            }
          }
          .shop-clip{
          }
          .shop-history{

          }
        }
      }
      .tab{
        .shop-menu-bar{
          display: flex;
          list-style-type: none;
          border-top: $border_style_inner;
          border-bottom: $border_style_inner;
          border-right: $border_style_inner;
          .shop-menu{
            width: calc(100% / 3);
            height: 48px;
            border-left: $border_style_inner;
            cursor: pointer;
            background: -moz-linear-gradient(bottom, whitesmoke, #FFF);
            background: -webkit-linear-gradient(bottom, whitesmoke, #FFF);
            background: linear-gradient(to top, whitesmoke, #FFF);
            &:hover {
              background: -moz-linear-gradient(top, whitesmoke, #FFF);
              background: -webkit-linear-gradient(top, whitesmoke, #FFF);
              background: linear-gradient(to bottom, whitesmoke, #FFF);
            }
            &-link{
              @include up-down-center;
              width: 100%;
              height: 48px;
              color: $color_default;  
              text-align: center;
              text-decoration: none;
              .shop-menu-name{
                display: table-cell;
                vertical-align: middle;
                width: 100%;
              }
            }
          }
          .top-menu{
            background: none;
            background-color: gray;
            a {
              color: white;
              &:hover{
                background-color: gray;
              }
            }
          }
        }
      }
    }
    &-content{
      padding: 20px 0;
      &-image{
        @include up-down-center;
        .shop-images{
          display: flex;
          .shop-image{
            padding: 0 2.5px;
            display: block;
            width: 320px;
            height: 360px;
            object-fit: cover;
          }
          }
      }
      &-comment{
        margin: 25px 0;
        padding-bottom: 25px;
        border-bottom: solid 1px lightgray;
        &-title{
          font-size: 25px;
          font-weight: bold;
          letter-spacing: px;
          margin-bottom: 10px;
        }
        &-content{

        }
      }
      &-info{
        margin: 10px 0;
        .shop{
          &-top{
            margin: 15px 0;
            padding-left: 10px;
            border-left: solid 3px #fa0;
            font-weight: bold;
            font-size: $fSize_default;
          }
          table{
            border-spacing: 0px;
            empty-cells:show;
            word-break: break-all;
          }
          &-table{
            width: 70%;
            background-color: #fff;
            border-collapse: separate;
            border-top: solid 1px #d6ceb4;
            margin-bottom: 25px;
            line-height: 1.5;
            font-size: $fSize_h5;
            tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  border-top: 1px solid #fff;
                  border-bottom: 1px solid #d6ceb4;
                  background-color: #faf8f5;
                  text-align: left;
                  padding: 15px;
                }
                td{
                  padding: 15px 0 15px 20px;
                  vertical-align: middle;
                  border-bottom: 1px solid #d6ceb4;
                }
              }
            }
          }
          &-title{
            display: table;
            width: 100%;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: $fSize_h4;
          }
          &-main{

          }
          &-detail{

          }
        }
      }
    }
  }
}

// ShopMap
.shop-map{
  @include view-center;
  .shop{
    // _shop_info css
    &-info{
      .shop{
        @include up-down-center;
        justify-content: space-between;
        padding: 8px 0;
        border-top: $border_style_inner;
        .info{
          width: 100%;
          .shop-controller{
            display: flex;
            align-items: center;
            .shop-name{
              font-size: $fSize_h2;
              font-weight: bold;
            }
            .master{
              margin-left: 12px;
            }
          }
          .shop-comment{
            @include up-down-center;
            padding: 5px 0;
            border-bottom: dotted 1px lightgray;
            color: $color_no_action;
            font-size: $fSize_content;
            &-point{
              padding: 0 8px;
              color: $color_rate;
              font-size: $fSize_h2;
              font-weight: bold;
            }
            &-count{
              padding: 0 8px;
            }
          }
          .shop-details{
            padding: 8px 0;
            font-size: $fSize_content;
            // color: $color_no_action;
            margin-right: 16px;
          }
        }
        .action{
          padding: 12px 16px 8px 16px;
          background-color: ivory;
          @include up-down-center;
          &-btn{
            width: 96px;
            height: 40px;
            margin: 4px;
            border: $border_style_hover;
            border-radius: 4px;
            background-color: white;
            color: $color_action;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            @include content-hover;
            a {
              text-decoration: none;
              color: $color_action;
            }
            .action-link {
              @include up-down-center;
              width: 96px;
              height: 40px;
              padding: 4px;
              .action-name {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
              }
              .link-clip-comment{
                font-size: $fSize_content;
              }
            }
    
          }
          &-no-btn{
            width: 96px;
            height: 40px;
            margin: 4px;
            border: solid 1px gray;
            border-radius: 4px;
            background-color: white;
            color: $color_action;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            @include content-hover;
            a {
              text-decoration: none;
              color: gray;
            }
            .action-link {
              @include up-down-center;
              width: 96px;
              height: 40px;
              padding: 4px;
              .action-name {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
              }
              .link-clip-comment{
                font-size: $fSize_content;
              }
            }
    
          }
          .shop-clip{

          }
          .shop-history{

          }
        }
      }
      .tab{
        .shop-menu-bar{
          display: flex;
          list-style-type: none;
          border-top: $border_style_inner;
          border-bottom: $border_style_inner;
          border-right: $border_style_inner;
          .shop-menu{
            width: calc(100% / 3);
            height: 48px;
            border-left: $border_style_inner;
            cursor: pointer;
            background: -moz-linear-gradient(bottom, whitesmoke, #FFF);
            background: -webkit-linear-gradient(bottom, whitesmoke, #FFF);
            background: linear-gradient(to top, whitesmoke, #FFF);
            &:hover {
              background: -moz-linear-gradient(top, whitesmoke, #FFF);
              background: -webkit-linear-gradient(top, whitesmoke, #FFF);
              background: linear-gradient(to bottom, whitesmoke, #FFF);
            }
            &-link{
              @include up-down-center;
              width: 100%;
              height: 48px;
              color: $color_default;  
              text-align: center;
              text-decoration: none;
              .shop-menu-name{
                display: table-cell;
                vertical-align: middle;
                width: 100%;
              }
            }
          }
          .map-menu{
            background: none;
            background-color: gray;
            a {
              color: white;
              &:hover{
                background-color: gray;
              }
            }
          }
        }
      }
    }
    &-content{
      padding: 20px 0;
      .g-map-area{
        margin: 20px 0;
      }
      .shop-map-info{
        margin: 25px 0;
        padding-bottom: 25px;
        border-bottom: solid 1px lightgray;
        table{
          border-spacing: 0px;
          empty-cells:show;
          word-break: break-all;
        }
        .map-table{
          border: 20px 0;
          width: 70%;
          background-color: #fff;
          border-collapse: separate;
          border-top: solid 1px #d6ceb4;
          margin-bottom: 25px;
          line-height: 1.5;
          font-size: $fSize_h5;
          tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr{
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              th{
                border-top: 1px solid #fff;
                border-bottom: 1px solid #d6ceb4;
                background-color: #faf8f5;
                text-align: left;
                padding: 15px;
              }
              td{
                padding: 15px 0 15px 20px;
                vertical-align: middle;
                border-bottom: 1px solid #d6ceb4;
              }
            }
          }
        }
      }
      &-info{
        margin: 10px 0;
        .shop{
          &-top{
            margin: 15px 0;
            padding-left: 10px;
            border-left: solid 3px #fa0;
            font-weight: bold;
            font-size: $fSize_default;
          }
          table{
            border-spacing: 0px;
            empty-cells:show;
            word-break: break-all;
          }
          &-table{
            width: 70%;
            background-color: #fff;
            border-collapse: separate;
            border-top: solid 1px #d6ceb4;
            margin-bottom: 25px;
            line-height: 1.5;
            font-size: $fSize_h5;
            tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  border-top: 1px solid #fff;
                  border-bottom: 1px solid #d6ceb4;
                  background-color: #faf8f5;
                  text-align: left;
                  padding: 15px;
                }
                td{
                  padding: 15px 0 15px 20px;
                  vertical-align: middle;
                  border-bottom: 1px solid #d6ceb4;
                }
              }
            }
          }
          &-title{
            display: table;
            width: 100%;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: $fSize_h4;
          }
          &-main{

          }
          &-detail{

          }
        }
      }
    }
  }
}

// Shop登録
.shop-new-edit{
  @include view-center;
  .title{
    font-size: 30px;
    font-weight: bold;
  }
  .shop-form{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    &-field{
      width: 400px;
    }
    .select-box{
      width: 400px;
    }
  }
  .shop-check{
    display: flex;
    .select-check-shop{
      width: 400px;
      .select-check-box{
        margin: 0px 4px;
      }
    }
  }
  .shop-send{
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px;
  }
}