// Shop一覧
.shop-index{
  max-width: $wrapper_max_width;
  min-width: $wrapper_min_width;
  width: 100%;
  margin: 0 auto;
  padding: 0 240px 0;
  .breadcrumbs{
    padding: 10px 0;
  }
  .title{
    margin-bottom: 30px;
    &-name{
      font-size: 25px;
    }
    &-count{
      font-size: 20px;
    }
  }
  .shop{
    &-list{
      a:hover{
        color: $color_action;
        text-decoration: none;
      }
      &:hover div .shop-box {
        border: $border_style_hover;
      }
      .shop-top{
        @include up-down-center;
        justify-content: flex-start;
        height: 50px;
        padding-left: 16px;
        border-top: solid 2px gray;
        border-bottom: $border_style_default;
        &-name{
          @include up-down-center;
          .shop-name{
            font-weight: bold;
          }
        }
        &-info{
          @include up-down-center;
          justify-content: flex-start;
          margin-left: 12px;
          color: $color_default;
          font-size: $fSize_content;
        }
      }
      .shop-info{
        display: flex;
        .shop-box{
          .shop-image{
            width: 30px;
          }
        }
      }
    }
  }
}