// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  position: relative;
  height: 500px;
  .top-image{
    width: 100vw;
    height: 500px;
    position: absolute;
  }
  .top-title{
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    color: black;
    top: 200px;
    left: 100px;
    height: 100px;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    border: black;
  }
}

.main{
  // display: flex;
  // justify-content: space-between;
  // サイドバー実装時に挿入
  margin: 20px;
  padding-left: 20px ;
  max-width: $wrapper_max_width;
  min-width: $wrapper_min_width;
  .search-title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 10px 0px ;
  }
  .area{
    height: 200px;
    width: 50%;
    margin: 16px 0;
    padding: 12px 24px;
    border: $border_style_inner;
    border-radius: 4px;
    box-shadow: $shadow_content;
    .area-top{
      .area-top-list{
        display: flex;
        .area-tops-box{
          display: flex;
          @include content-link;
          list-style-type: none;
          height: 48px;
          margin: 4px;
          padding: 0 16px 0;
          border: $border_style_inner;
          border-radius: 4px;
          box-shadow: $shadow_content;
          .area-top-name{
            @include up-down-center;
            font-size: $fSize_default;
            font-weight: bold;
            cursor: pointer;
          }
          .area-top-count{
            @include up-down-center;
            font-size: $fSize_content;
            margin-left: 5px;
          }
        }
      }
    }
    .area-bottom{
    .area-bottom-list{
        padding: 20px 8px 4px 20px;
        width: 100%;
        .area-bottom-name{
          float: left;
          position: relative;
          list-style-type: square;
          width: 15%;
          height: 28px;
          padding-left: 2px;
          font-size: $fSize_content;
          cursor: pointer;
        }
        // .area-bottom-list:before{
        //   position: absolute;
        //   top: .35em;
        //   left: 0;
        //   width: 0;
        //   height: 0;
        //   border-width: 4px;
        //   border-style: solid;
        //   border-color: transparent transparent transparent orange;
        //   content: "";
        // }
      }
    }
  }
  .genre{
    margin-top: 50px;
    .genre-top{
      .genre-top-list{
        display: flex;
        list-style-type: none;
        .genre-top-box{
          & a:hover {
            color: black;
            text-decoration: underline;
            & img {
              opacity: 0.5;
            }
          }
          .genre-top-link{
            position: relative;
            display: block;
            width: 136px;
            margin: 8px 8px 8px 0;
            color: white;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            .genre-top-image{
              height: 136px;
              width: 136px;
              object-fit: cover;
            }
            .genre-top-name{
              position: absolute;
              right: 0px;
              bottom: 32px;
              width: 100%;
              font-size: $fSize_default;
            }
            .genre-top-count{
              position: absolute;
              right: 0px;
              bottom: 16px;
              width: 100%;
              font-size: $fSize_content;
            }
          }
        }
      }
    }
    .genre-bottom{
      .genre-bottom-list{
        display: flex;
        .genre-bottom-name{
          @include content-link;
          display: flex;
          .genre-bottom-link{
            float: left;
            padding: 6px 16px;
            margin: 4px 8px 4px 0;
            border: $border_style_inner;
            border-radius: 4px;
            box-shadow: $shadow_content;
            color: $link_color_content;
            font-size: $fSize_content;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }
    }

  }
  .characteristic{
    margin-top: 50px;
    // .characteristic-top{
    // }
    .characteristic-bottom{
      .characteristic-bottom-list{
        display: flex;
        .characteristic-bottom-name{
          @include content-link;
          list-style-type: none;
          .characteristic-bottom-link{
            float: left;
            padding: 6px 16px;
            margin: 4px 8px 4px 0;
            border: $border_style_inner;
            border-radius: 4px;
            box-shadow: $shadow_content;
            color: $link_color_content;
            font-size: $fSize_content;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }
    }
  }
}
