.top-page-header{
  @include view-center;
  padding-top: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
  .top-link{
    margin-bottom: 10px;
    .account{
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      li{
        margin: 0 5px;
      }
    }
    a{
      font-size: $fSize_content;
      color: $link_color_content;
    }
  }
  .main-link{
    display: flex;
    justify-content: space-between;
    .title{
      margin-right: 20px;
      &-name {
        text-decoration: none;
        color: #000000;
        font-size: 30px;
      }
    }
    .search-fields{
      width: 70%;
      position: relative;
      .search-link{
        display: flex;
        justify-content: center;
        align-items: center;
        .search-field{
          font: 15px/24px sans-serif;
          box-sizing: border-box;
          width: 70%;
          padding: 0.3em;
          transition: 0.3s;
          letter-spacing: 1px;
          border: 1px solid gray;
          border-radius: 0;
          border-right: none;
          &:focus{
            border: 1px solid #da3c41;
            outline: none;
          }
        }
        
        .search-btn{
          position: relative;
          background-image: image-url("search-icon.png") ;
          background-repeat: no-repeat;
          background-position: center;
          height: 35px;
          width: 70px;
          border: 1px solid gray;
          background-color: gray;
        }
      }
    }
  }
}

