// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  position: relative;
  height: 500px;
  .top-image{
    width: 100vw;
    height: 500px;
    position: absolute;
  }
  .top-title{
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    color: black;
    top: 200px;
    left: 100px;
    height: 100px;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    border: black;
  }
}

.main{
  margin: 20px;
  padding-left: 20px ;
  .search-title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 10px 0px ;
  }
  .area{
    .area-top{
      .area-tops{
        display: flex;
        .area-tops-box{
          
        }
      }
    }
    .area-bottom{

    }
  }
  .genre{
    .genre-top{

    }
    .genre-bottom{

    }
  }
  .characteristic{
    .characteristic-top{

    }
    .characteristic-bottom{

    }
  }
}
